In [3]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

### Read data

In [5]:
mypath = '../data/'
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
onlyfiles

['basketball_abbrev.csv',
 'basketball_teams.csv',
 'basketball_draft.csv',
 'basketball_awards_players.csv',
 'basketball_coaches.csv',
 'basketball_hof.csv',
 'basketball_awards_coaches.csv',
 'basketball_series_post.csv',
 'basketball_master.csv',
 'basketball_player_allstar.csv']

In [31]:
d= {}
for file in onlyfiles:
    df = pd.read_csv('../data/' + file)
    name = file.split('.')[0]
    print(f"Largo archivo {name}: {len(df)} filas, {len(list(df.columns))} columnas \n")
    #print(df.head(1))
    #print("")
    #print(f"Variables : {list(df.columns)}")
    d[file.split('.')[0]] = df

Largo archivo basketball_abbrev: 40 filas, 3 columnas

Largo archivo basketball_teams: 1536 filas, 60 columnas

Largo archivo basketball_draft: 9003 filas, 11 columnas

Largo archivo basketball_awards_players: 1719 filas, 6 columnas

Largo archivo basketball_coaches: 1689 filas, 9 columnas

Largo archivo basketball_hof: 328 filas, 4 columnas

Largo archivo basketball_awards_coaches: 61 filas, 5 columnas

Largo archivo basketball_series_post: 775 filas, 9 columnas

Largo archivo basketball_master: 5061 filas, 26 columnas

Largo archivo basketball_player_allstar: 1609 filas, 23 columnas

### Headers

In [32]:
#vale callampa
#Diccionario de variables
d["basketball_abbrev"].head(1)

  abbrev_type code        full_name
0       Round   DF  Division Finals

In [43]:
#Equipos de NBA por año
d["basketball_teams"].head(1)

,year,lgID,tmID,franchID,confID,divID,rank,confRank,playoff,name,...,divWon,divLoss,pace,won,lost,games,min,arena,attendance,bbtmID
0,1946,NBA,BOS,BOS,NaN,ED,5,0,NaN,Boston Celtics,...,11,19,0,22,38,60,14500.0,Boston Garden,32767,BOS

In [44]:
#Draft por año
d["basketball_draft"].head(1)

,draftYear,draftRound,draftSelection,draftOverall,tmID,firstName,lastName,suffixName,playerID,draftFrom,lgID
0,1967,0,0,0,ANA,Darrell,Hardy,NaN,hardyda01,Baylor,ABA

In [45]:
#Premios por jugador
d["basketball_awards_players"].head(1)

    playerID               award  year lgID note  pos
0  feeribo01  All-NBA First Team  1946  NBA  NaN  NaN

In [36]:
#Entrenadores
d["basketball_coaches"].head(1)

     coachID  year tmID  lgID  stint   won  lost  post_wins  post_losses
0  johnsne01  1961  PGR  ABL1      1  41.0  40.0        0.0          1.0

In [37]:
#Salon de la fama
d["basketball_hof"].head(1)

   year hofID               name     category
0  1959   NaN  Amos Alonzo Stagg  Contributor

In [38]:
#Premios
d["basketball_awards_coaches"].head(1)

   year    coachID                  award lgID note
0  1962  gallaha01  NBA Coach of the Year  NBA  NaN

In [39]:
# Playoffs
d["basketball_series_post"].head(1)

   year round series tmIDWinner lgIDWinner tmIDLoser lgIDLoser  W  L
0  1946     F      O        PHW        NBA       CHS       NBA  4  1

In [40]:
#Completo
d["basketball_master"].head(1)

,bioID,useFirst,firstName,middleName,lastName,nameGiven,fullGivenName,nameSuffix,nameNick,pos,...,birthDate,birthCity,birthState,birthCountry,highSchool,hsCity,hsState,hsCountry,deathDate,race
0,abdelal01,Alaa,Alaa,NaN,Abdelnaby,NaN,NaN,NaN,NaN,F-C,...,1968-06-24,Cairo,NaN,EGY,Bloomfield Senior,Bloomfield,NJ,USA,0000-00-00,B

In [41]:
# Allstar players
d["basketball_player_allstar"].head(1)

,player_id,last_name,first_name,season_id,conference,league_id,games_played,minutes,points,o_rebounds,...,steals,blocks,turnovers,personal_fouls,fg_attempted,fg_made,ft_attempted,ft_made,three_attempted,three_made
0,abdulka01,Abdul-Jabbar,Kareem,1978,West,NBA,1,28,11.0,NaN,...,NaN,NaN,NaN,NaN,12.0,5.0,2.0,1.0,NaN,NaN